<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</head>
<body>
    <script>
        function getComments() {
            $.ajax({
                type: 'GET',
                url: '/Shared/getComments',
                contentType: 'application/json',
                async: false
            })
            .done(function (messages) {
                messages = JSON.parse(messages);
                for (var i = 0; i < messages.length; i++) {
                    var temp = messages[i].UserName;
                    var temp2 = messages[i].Comment;

                    $('#comments').append('<div class="comment-block"><div class="comment-user"><b>' + messages[i].UserName + ' </b></div>' + '<div class="comment-message">'+ messages[i].Comment+ '</div></div>');
                }
            })
            .fail(function () { })
        }
        $(document).ready(function () {
            getComments();
        });
    </script>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("RulesOfTheGame", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Games", "Games", "Home")</li>
                    <li>@Html.ActionLink("High Score", "HighScore", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <br />
        <label class="commentLabel"><strong>Comments:</strong></label>
        <div id="comment" class="center">
            <div class="comment" id="comments">
                
            </div>
            <textarea class="form-control"></textarea>
            <br />
            <button id="submitComment" class="btn btn-primary" onclick="">Submit</button>

        </div>
        <hr />
        <footer>
            <p>RulesOfTheGame &copy; @DateTime.Now.Year</p>
        </footer>
    </div>

    
</body>
</html>
