@{
    ViewBag.Title = "Games";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<div class="row">
    <div class="col-md-3">
        <h4>@Html.ActionLink("Flappy Bird", "Flappy_Bird", "Game")</h4>
        <img src="~/Content/images/screenshots/Flappy-Bird-Screenshot.png" height="256" width="192"/>
    </div>
    <div class="col-md-3">
        <h4>@Html.ActionLink("Guide The Goat", "Guide_The_Goat", "Game")</h4>
        <img src="~/Content/images/screenshots/goatScreenshot.png" height="256" width="192" />
    </div>
    <div class="col-md-3">
        <div class="col-md-3">
            <h4>@Html.ActionLink("TeeTrees", "TeeTrees", "Game")</h4>
            <img src="~/Content/Teetrees/TeetreesThumbnail.png" height="256" width="192" />
        </div>
    </div>
    <div class="col-md-3">
        <div class="col-md-3">
            <h4>@Html.ActionLink("Bubble Pop", "Bubble_Pop", "Game")</h4>
            <img src="~/Content/images/screenshots/bubbleScreenshot.PNG" height="256" width="192" />
        </div>
    </div>
</div>