@{
    ViewBag.Title = "Games";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@{
    var result = "";
    Array userData = null;
    char[] delimiterChar = { ',' };

    var dataFile = Server.MapPath("~/Views/Home/gamesmanifest.txt");

    if (File.Exists(dataFile))
    {
        userData = File.ReadAllLines(dataFile);
        if (userData == null)
        {
            // Empty file.
            result = "The file is empty.";
        }
    }
    else
    {
        // File does not exist.
        result = "The file does not exist.";
    }
}

@using (Html.BeginForm("Games", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div style="border:1px groove grey; padding:5px; width:33%; text-align:center; vertical-align:middle;">
        <h2>Upload New Game</h2>
        <div>
            <input type="file" name="zip"/><br />
        </div>
        <div>
            <button class="btn btn-default">Submit</button>
        </div>
    </div>
}

<div class="row">
    @foreach (string s in userData)
    {
        //@:console.log("@s");
        string[] names = s.Split(',');
        string temp = names[0];
        temp = temp.Replace(' ', '_');
        if (names.Length < 2 || temp.IsEmpty())
        {

        }
        else
        {
            <div class="col-md-3">
                <h4>@Html.ActionLink(names[0], "DynamicGamePage", "Home", new { id = temp }, null)</h4>
                <img src="~/Content/images/screenshots/@names[1]" height="256" width="192" />
            </div>
        }
    }
</div>

@*<div class="row">
    <div class="col-md-3">
        <h4>@Html.ActionLink("Flappy Bird", "Flappy_Bird", "Game")</h4>
        <img src="~/Content/images/screenshots/Flappy-Bird-Screenshot.png" height="256" width="192"/>
    </div>
    <div class="col-md-3">
        <h4>@Html.ActionLink("Guide The Goat", "Guide_The_Goat", "Game")</h4>
        <img src="~/Content/images/screenshots/goatScreenshot.png" height="256" width="192" />
    </div>
    <div class="col-md-3">
        <div class="col-md-3">
            <h4>@Html.ActionLink("TeeTrees", "TeeTrees", "Game")</h4>
            <img src="~/Content/Teetrees/TeetreesThumbnail.png" height="256" width="192" />
        </div>
    </div>
    <div class="col-md-3">
        <div class="col-md-3">
            <h4>@Html.ActionLink("Bubble Pop", "Bubble_Pop", "Game")</h4>
            <img src="~/Content/images/screenshots/bubbleScreenshot.PNG" height="256" width="192" />
        </div>
    </div>
</div>*@